.button{
    -fx-border-width: 2;
    -fx-border-color: #000000;
    
    -fx-background-radius: 0;
    -fx-background-color: #eaff00;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #000000;
}

.button:pressed {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-fill: white;
}